In [1]:
a=1
b=6
a+3

4

In [2]:
print (a)
print (b)

1
6

In [3]:
a

1

### if- else

In [4]:
condicion = 20

if (condicion==1):
    print("flujo 1")
elif (condicion==2):
    print ("flujo 2")
elif (condicion==3): 
    print ("flujo 3")
else:
    print("flujo 4")

flujo 4

### Ciclos

In [5]:
contador=0

while (contador<5):
    print(contador)
    contador=contador+1

0
1
2
3
4

In [6]:
for contador in range (5):
    if (contador%2==0):
        print (contador)

0
2
4

### contadores

In [7]:
a=5
b=2

In [8]:
a+b

7

In [9]:
a**b

25

In [10]:
a%b

1

In [11]:
a-b

3

In [12]:
a*b

10

In [13]:
a/b

2.5

### Booleanos

In [14]:
a=2
b=3

In [15]:
a==b

False

In [16]:
a<b

True

In [17]:
a>b

False

In [18]:
a!=b #es diferente a

True

In [19]:
a<=b

True

In [20]:
a>=b

False

### Hilos

In [21]:
hilo1="un ejemplo de hilo."

In [22]:
print(hilo1)

un ejemplo de hilo.

In [23]:
hilo2="otro ejemplo de hilo"

In [24]:
print(hilo2)

otro ejemplo de hilo

In [25]:
hilo1+" "+hilo2

'un ejemplo de hilo. otro ejemplo de hilo'

In [26]:
a =2 
str(a)

'2'

In [27]:
print ("el valor de a es",a)

el valor de a es 2

### Listas

In [36]:
a=[1,2,3]
b=[4,5,6]

In [37]:
print (a)

[1, 2, 3]

In [30]:
print(b)

[4, 5, 6]

In [38]:
a+b

[1, 2, 3, 4, 5, 6]

In [39]:
a.append(6) #añadir a la lista
a

[1, 2, 3, 6]

In [40]:
a

[1, 2, 3, 6]

In [41]:
a.pop() #quitar de la lista

6

In [42]:
a

[1, 2, 3]

In [43]:
import numpy as np
a

[1, 2, 3]

In [44]:
a=[1,2,3,4,5,6,7,8,9]

In [47]:
for elemento in a:
    if elemento ==5:
        print("hay un 5.")

hay un 5.

In [48]:
5 in a

True

##### Diccionarios

In [51]:
d= { 0 : "elemento con llave cero",
    1 : "elemento con llave uno"}

In [52]:
d

{0: 'elemento con llave cero', 1: 'elemento con llave uno'}

In [53]:
d[0]

'elemento con llave cero'

In [54]:
d={ 0 : "elemento con llave cero",
    1 : "elemento con llave uno"}

### Funciones

In [55]:
def funcion():
    print ("paso 1")
    print ("paso 2")
    print ("paso 3")

In [56]:
funcion()

paso 1
paso 2
paso 3

In [57]:
def funcion_con_parametros (a,b,c):
    print (a)
    print (b)
    print (c)

In [58]:
funcion_con_parametros (5,10,15)

5
10
15

In [61]:
def funciones_con_parametros_predefinidos(b=100):
    print(b)

In [63]:
funciones_con_parametros_predefinidos (50)

50

## Lectura rapida de archivos

In [65]:
import pandas as pd

In [66]:
pd.read_excel?

In [75]:
data=pd.read_excel ("datosPE.xlsx")

In [76]:
data

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

In [78]:
data.columns

Index(['ID Persona', 'Peso', 'Estatura'], dtype='object')

In [80]:
data["Peso"]

0      67
1      99
2      86
3     118
4     109
     ...
95     88
96     98
97     95
98     61
99    107
Name: Peso, Length: 100, dtype: int64

In [82]:
data.head(10)

   ID Persona  Peso  Estatura
0           1    67      1.41
1           2    99      1.83
2           3    86      1.90
3           4   118      1.65
4           5   109      1.67
5           6    81      1.66
6           7    74      1.64
7           8    69      1.70
8           9    51      1.67
9          10   104      1.56

In [83]:
data.tail(10)

    ID Persona  Peso  Estatura
90          91    87      1.88
91          92    98      1.53
92          93   104      1.92
93          94   112      1.65
94          95    56      1.70
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

In [84]:
data["Estatura"].mean()

1.6610999999999998

In [85]:
data["Peso"].sum()

8558

In [87]:
data["Peso en libras"] = data["Peso"]*2.205

In [88]:
data

    ID Persona  Peso  Estatura  Peso en libras
0            1    67      1.41         147.735
1            2    99      1.83         218.295
2            3    86      1.90         189.630
3            4   118      1.65         260.190
4            5   109      1.67         240.345
..         ...   ...       ...             ...
95          96    88      1.49         194.040
96          97    98      1.54         216.090
97          98    95      1.57         209.475
98          99    61      1.61         134.505
99         100   107      1.62         235.935

[100 rows x 4 columns]

In [89]:
data.to_excel("ejemplo_en_libras.xlsx")

In [ ]:
data.