### Genera una lista de 100 elementos con múltiplos de 3. E.g. [3, 6, 9, ...]

In [1]:
import numpy as np

In [2]:
lista = np.arange (1,301)
lista = lista [lista % 3 == 0]
lista

array([  3,   6,   9,  12,  15,  18,  21,  24,  27,  30,  33,  36,  39,
        42,  45,  48,  51,  54,  57,  60,  63,  66,  69,  72,  75,  78,
        81,  84,  87,  90,  93,  96,  99, 102, 105, 108, 111, 114, 117,
       120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156,
       159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195,
       198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234,
       237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273,
       276, 279, 282, 285, 288, 291, 294, 297, 300])

### Toma el archivo datosPE.xlsx y calcula el índice de masa corporal de cada persona.

In [3]:
import pandas as pd

In [4]:
data=pd.read_excel ("datosPE.xlsx")
data ["BMI"]= data["Peso"] /(data ["Estatura"]* data ["Estatura"])
data

    ID Persona  Peso  Estatura        BMI
0            1    67      1.41  33.700518
1            2    99      1.83  29.561946
2            3    86      1.90  23.822715
3            4   118      1.65  43.342516
4            5   109      1.67  39.083510
..         ...   ...       ...        ...
95          96    88      1.49  39.637854
96          97    98      1.54  41.322314
97          98    95      1.57  38.541117
98          99    61      1.61  23.533043
99         100   107      1.62  40.771224

[100 rows x 4 columns]

### Toma el archivo datosCT.xlsx

#### Calcula la Utilidad (Ingreso - Gasto)

In [5]:
import pandas as pd

In [6]:
data=pd.read_excel ("datosCT.xlsx")
data ["Utilidad"]= data["Ingreso"] - data ["Gasto"]
data

    Unnamed: 0  Ingreso  Gasto  Utilidad
0        Enero     1340   1880      -540
1      Febrero     2590   3130      -540
2        Marzo     3570   2140      1430
3        Abril     4450   3370      1080
4         Mayo     1330   2990     -1660
5        Junio     1610   1970      -360
6        Julio     1500   2230      -730
7       Agosto     2270   1240      1030
8   Septiembre     1910   1470       440
9      Octubre     2120   2280      -160
10   Noviembre     3950   1870      2080
11   Diciembre     1380   3140     -1760

#### Encuentra los ingresos totales del año

In [7]:
data ["Utilidad"].sum()

310

#### Encuentra el promedio de Gastos en los meses que la Utilidad fue negativa

In [8]:
import statistics

In [17]:
def negSum(data ["Utilidad"]): 
    neg_sum = 0
    for num in data ["Utilidad"]: 
        num = int(num) 
        if(num < 0): 
            neg_sum = + num 
            print( neg_sum)

SyntaxError: invalid syntax (1379831126.py, line 1)

In [18]:
(neg_sum).mean

NameError: name 'neg_sum' is not defined